In [17]:
# Commented out IPython magic to ensure Python compatibility.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# Commented out IPython magic to ensure Python compatibility.
import sklearn
import random

from sklearn.utils import shuffle

In [19]:
data = pd.read_csv(r"C:\\Users\\shant\\OneDrive\\Desktop\\final run\\creditcardsampling.csv")

d = data

class0 = d[d["Class"] == 0]

len(class0)

class1 = d[d["Class"] == 1]

len(class1)

class0
temp = shuffle(class0)

d1 = temp.iloc[:2000, :]

d1

frames = [d1, class1]
df_temp = pd.concat(frames)

df_temp.info()

df = shuffle(df_temp)

df.to_csv("C:\\Users\\shant\\OneDrive\\Desktop\\final run\\creditcardsampling.csv")

<class 'pandas.core.frame.DataFrame'>
Index: 2492 entries, 92 to 2489
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.4  2492 non-null   int64
 1   Unnamed: 0.3  2492 non-null   int64
 2   Unnamed: 0.2  2492 non-null   int64
 3   Unnamed: 0.1  2492 non-null   int64
 4   Unnamed: 0    2492 non-null   int64
 5   Time          2492 non-null   float64
 6   V1            2492 non-null   float64
 7   V2            2492 non-null   float64
 8   V3            2492 non-null   float64
 9   V4            2492 non-null   float64
 10  V5            2492 non-null   float64
 11  V6            2492 non-null   float64
 12  V7            2492 non-null   float64
 13  V8            2492 non-null   float64
 14  V9            2492 non-null   float64
 15  V10           2492 non-null   float64
 16  V11           2492 non-null   float64
 17  V12           2492 non-null   float64
 18  V13           2492 non-null   float64
 19  V14           2492 non-null   float64
 20  V15           2492 non-null   float64
 21  V16           2492 non-null   float64
 22  V17           2492 non-null   float64
 23  V18           2492 non-null   float64
 24  V19           2492 non-null   float64
 25  V20           2492 non-null   float64
 26  V21           2492 non-null   float64
 27  V22           2492 non-null   float64
 28  V23           2492 non-null   float64
 29  V24           2492 non-null   float64
 30  V25           2492 non-null   float64
 31  V26           2492 non-null   float64
 32  V27           2492 non-null   float64
 33  V28           2492 non-null   float64
 34  Amount        2492 non-null   float64
 35  Class         2492 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 720.3 KB

In [20]:
import math
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    f1_score,
    auc,
)

In [21]:

X_train, X_test, y_train, y_test = train_test_split(
    data.drop("Class", axis=1), data["Class"], test_size=0.3, random_state=42
)

In [22]:
"""# Feature Scaling"""

cols = ["V22", "V24", "V25", "V26", "V27", "V28"]

scaler = StandardScaler()

frames = ["Time", "Amount"]

x = data[frames]

d_temp = data.drop(frames, axis=1)

temp_col = scaler.fit_transform(x)

scaled_col = pd.DataFrame(temp_col, columns=frames)

scaled_col.head()

d_scaled = pd.concat([scaled_col, d_temp], axis=1)

d_scaled.head()

y = data["Class"]

d_scaled.head()

,Time,Amount,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,V1,V2,V3,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
0,-1.843008,0.564479,623,1141,514,1065,4920,-2.303350,1.759247,-0.359745,...,-0.430022,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,1
1,0.793935,-0.377320,2222,79,1808,1551,193395,2.074497,-0.046320,-1.124014,...,-0.217170,-0.298743,-0.720281,0.321971,-0.108579,-0.276091,0.204955,-0.070316,-0.061446,0
2,-0.246501,-0.375744,826,534,408,1101,133808,-0.637195,0.964879,1.569705,...,-0.078066,-0.196694,-0.694813,-0.069508,0.321931,-0.170292,-0.047584,0.040694,0.118298,0
3,-1.914547,-0.296197,1965,516,51,1669,1353,1.237465,-0.488220,1.332896,...,-0.472788,-0.410253,-0.504697,0.061900,0.370817,0.316996,-0.395363,0.099298,0.046787,0
4,-0.438307,-0.377320,2,1781,938,1205,109463,-0.429039,0.876786,1.415574,...,0.009561,-0.218216,-0.676798,-0.060923,-0.065966,-0.235806,0.079940,0.251133,0.103758,0

In [23]:
"""# Dimensionality Reduction"""

from sklearn.decomposition import PCA

pca = PCA(n_components=7)

X_temp_reduced = pca.fit_transform(d_scaled)

pca.explained_variance_ratio_

pca.explained_variance_

names = [
    "Time",
    "Amount",
    "Transaction Method",
    "Transaction Id",
    "Location",
    "Type of Card",
    "Bank",
]

X_reduced = pd.DataFrame(X_temp_reduced, columns=names)
X_reduced.head()

Y = d_scaled["Class"]

new_data = pd.concat([X_reduced, Y], axis=1)
new_data.head()
new_data.shape

new_data.to_csv("finaldata.csv")

#train-Test-Split

X_train, X_test, y_train, y_test = train_test_split(
    X_reduced, d_scaled["Class"], test_size=0.30, random_state=42
)

X_train.shape, X_test.shape

((1744, 7), (748, 7))

In [24]:
new_data

,Time,Amount,Transaction Method,Transaction Id,Location,Type of Card,Bank,Class
0,-133200.393743,-191.142669,251.838543,-577.031344,-719.420858,-0.731135,2.416632,1
1,55275.163353,38.866414,-744.462476,-506.445432,1362.605926,3.295426,0.074622,0
2,-4312.198820,-190.365965,39.418604,-1080.293209,-448.157314,4.184862,-0.284744,0
3,-136767.151186,533.067925,489.469422,-1381.579325,523.261285,6.867186,-0.052844,0
4,-28657.575397,-649.234415,502.586257,210.022644,-1094.195785,4.348832,-0.363008,0
...,...,...,...,...,...,...,...,...
2487,-36138.263716,762.528610,-947.491664,-89.115636,132.227153,4.269935,-3.423428,0
2488,-21578.730272,449.045567,1147.463418,36.606636,-564.579455,3.694851,0.190540,0
2489,-60772.516325,691.449504,-12.895770,-634.602338,-874.996541,-8.117372,4.668640,1
2490,114699.542429,698.026054,-131.068893,550.372660,341.127874,1.304593,0.322285,0
2491,-95093.642834,1594.662407,93.843937,-428.311981,-453.175826,4.901111,-2.636005,0

In [25]:
new_data.size

19936

In [26]:
"""# Decision Tree"""

from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

dtree=DecisionTreeClassifier()

dtree.fit(X_train,y_train)

y_pred_dtree=dtree.predict(X_test)

print(classification_report(y_test,y_pred_dtree))

d_tree_param=DecisionTreeClassifier()
tree_parameters={'criterion':['gini','entropy'],'max_depth':list(range(2,4,1)),
                 'min_samples_leaf':list(range(5,7,1))}

grid_tree=GridSearchCV(d_tree_param,tree_parameters)

grid_tree.fit(X_train,y_train)

y_pred_dtree2=grid_tree.predict(X_test)

print(classification_report(y_test,y_pred_dtree2))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96       601
           1       0.84      0.84      0.84       147

    accuracy                           0.94       748
   macro avg       0.90      0.90      0.90       748
weighted avg       0.94      0.94      0.94       748

              precision    recall  f1-score   support

           0       0.96      1.00      0.98       601
           1       0.99      0.83      0.90       147

    accuracy                           0.97       748
   macro avg       0.98      0.91      0.94       748
weighted avg       0.97      0.97      0.96       748

In [27]:
#Accuracy
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred_dtree)
print("Accuracy:", accuracy)

Accuracy: 0.9385026737967914

In [28]:
#More accuracy
from sklearn.metrics import classification_report

report = classification_report(y_test, y_pred_dtree)
print(report)

              precision    recall  f1-score   support

           0       0.96      0.96      0.96       601
           1       0.84      0.84      0.84       147

    accuracy                           0.94       748
   macro avg       0.90      0.90      0.90       748
weighted avg       0.94      0.94      0.94       748

In [29]:
import pickle

In [30]:
with open('decision_tree_model.pkl', 'wb') as file:
    pickle.dump(dtree, file)

In [31]:
with open('decision_tree_model.pkl', 'rb') as file:
    Decision_model = pickle.load(file)